<table>
    <thead>
      <tr>
        <th>Full URL:</th>
        <th>Short URL:</th>
        <th>Clicks:</th>
        <th>HTTPS:</th>
      </tr>
    </thead>
    <tbody>
      <% shortUrls.forEach(shortUrl => { %>
        <tr>
          <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
          <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
          <td><%= shortUrl.clicks %></td>
          <td>YES</td>
        </tr>
      <% }) %>
    </tbody>
  </table>