<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/_head'); %>
</head>
<body>
    <%- include('./partials/_header'); %>
    <%- include('./partials/_flash'); %>
    <%- include('./partials/_form'); %>
    <%- include('./partials/_table'); %>
    <%- include('./partials/_footer'); %>
    
</body>
</html>